<div class="app-sidebar">
    <div class="logo logo-sm">
        <a href="">ConferenceManager</a>
    </div>
    <div class="app-menu">
        <ul class="accordion-menu">
            <li class="sidebar-title">
                应用
            </li>
            <li>
                <a href="/user"><i class="material-icons-two-tone">dashboard</i>会议列表</a>
                <a href="/submit"><i class="material-icons-two-tone">edit</i>论文投稿</a>
                <a href="/invitation"><i class="material-icons-two-tone">star</i>邀请通知</a>
            </li>
        </ul>
    </div>
</div>